
<div style="position: relative;">
    <video class="video-window" #video style="width:100%;" poster="assets/big_buck_bunny.jpg" (keyup)="playVideo($event)" (click)="playVideo()">
        <source src="assets/big_buck_bunny_720p_surround.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="video-tools">
        <!-- 影片進度(上排) -->
        <div class="video-progress">
            <mat-slider step="1" min="0" max="100" aria-label="units" (input)="timeControl($event)" value="sliderPercent"></mat-slider>
        </div>
        <!-- 左邊功能列(下排) -->
        <div class="video-features">
            <div class="video-features-control">
                <button class="replay-10" mat-button style="width:40px;" (click)="dataSkip(-10)">
                    <mat-icon>replay_10</mat-icon>
                </button>
                <button class="replay" mat-button>
                    <mat-icon>replay</mat-icon>
                </button>
                <button class="pause" mat-button (click)="playVideo()" *ngIf="isPlay">
                    <mat-icon>pause</mat-icon>
                </button>
                <button class="play-arrow" mat-button (click)="playVideo()" *ngIf="!isPlay">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button class="forward-10" mat-button (click)="dataSkip(10)">
                    <mat-icon>forward_10</mat-icon>
                </button>
                <!-- 音量 -->
                <button class="volume-up" mat-button (click)="volumeMuted()" *ngIf="!isMuted">
                    <mat-icon>volume_up</mat-icon>
                </button>
                <button class="volume-off" mat-button (click)="volumeMuted()" *ngIf="isMuted">
                    <mat-icon>volume_off</mat-icon>
                </button>
                <div class="volume-control">
                    <mat-slider thumbLabel step="1" min="0" max="100" aria-label="units" (input)="volumeControl($event)" value="50"></mat-slider>
                </div>
                <!-- 時間 -->
                <div class="video-time">
                    <span>{{currentTime | time}}</span> / <span>{{totalTime}}</span>
                </div>
            </div>
            <!-- 右邊功能 -->
            <div class="video-features-setting">
                <span>Speed:0.25</span>
                <button class="settings" mat-button (click)="openSetting()">
                    <mat-icon>settings</mat-icon>
                </button>
                <div class="speed-setting" *ngIf="showSetting">
                    <h4 style="padding:8px 12px;border-bottom:1px solid #fff">Play Speed</h4>
                    <ul>
                        <li>0.25</li>
                        <li>0.5</li>
                        <li>0.75</li>
                        <li>Normal</li>
                        <li>1.25</li>
                        <li>1.5</li>
                        <li>1.75</li>
                    </ul>
                </div>
                <button class="zoom-out-map" mat-button (click)="fullScreen()">
                    <mat-icon>zoom_out_map</mat-icon>
                </button>
                <button class="zoom-in-map" mat-button>
                    <mat-icon>zoom_in_map</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
